@import '../../styles/partials/mixins';

.projects-container {
    display: flex;
    flex-direction: row-reverse;
    padding: 3.6rem 0;
    background: linear-gradient(135deg, #2c3e50, #3498db);
    color: white;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    &.blurred .circle {
        animation: none;
        filter: blur(.3125rem);
    }

    &.details-view {
        .projects-list {
            display: none;
        }

        .project-details {
            width: 80%;
            margin: auto;
            max-height: 90vh;
            overflow-y: auto;
            padding-right: 1rem; // Add some padding for scrollbar visibility
        }
    }

    .projects-list {
        height: fit-content;
        width: fit-content;
        background: rgba(0, 0, 0, 0.7);
        padding: 1.25rem;
        border-radius: .625rem;
        box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1);
        color: white;
        position: absolute;
        z-index: 2;

        h1 {
            font-size: 1.5rem;
            margin-bottom: 1.25rem;
        }

        .project-name {
            font-size: 1.2rem;
            padding: .625rem 0;
            cursor: pointer;
            position: relative;
            color: white;

            &:hover {
                color: #ff007f;
            }

            &:before,
            &:after {
                content: '';
                position: absolute;
                height: .0625rem;
                background: #ccc;
                width: calc(100% + 1.25rem);
                left: -0.625rem;
            }

            &:before {
                top: 0;
            }

            &:after {
                bottom: 0;
            }

            &.active {
                color: #ff007f;
            }
        }
    }

    .project-details {
        height: fit-content;
        width: 70%;
        background: rgba(0, 0, 0, 0.7);
        padding: 1.25rem;
        border-radius: .625rem;
        box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1);
        margin-right: 1.25rem;
        color: white;
        position: relative;
        z-index: 2;
        text-align: center; // Center align for mobile

        .details-header {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include tablet {
                flex-direction: row;
                justify-content: space-around;
                align-items: flex-start;
                gap: 2rem;
                text-align: left; // Left align for tablet and desktop
            }

            @include desktop {
                flex-direction: row;
                justify-content: space-around;
                align-items: flex-start;
                gap: 2rem;
                text-align: left; // Left align for tablet and desktop
            }

            .text-content {
                // max-width: 60%;

                @include tablet {
                    max-width: 60%;
                }

                @include desktop {
                    max-width: 60%;
                }
            }

            .carousel-container {
                width: 100%;
                margin-top: 1rem;

                @include tablet {
                    width: 35%;
                    margin-top: 0;
                }

                @include desktop {
                    width: 35%;
                    margin-top: 0;
                }

                .carousel .slide img {
                    width: 100%;
                    height: auto;
                }

                .carousel .control-arrow {
                    background: none;
                    border: none;
                    color: white;
                }

                .carousel .control-dots {
                    display: none;
                    margin: 0;
                }
            }

            .close-button {
                background: none;
                border: none;
                color: white;
                font-size: 1rem;
                cursor: pointer;
                position: absolute;
                top: .4375rem;
                right: .4375rem;
            }
        }

        h2 {
            font-size: 2rem;
            margin-bottom: .625rem;
            font-family: 'Arial', sans-serif;
        }

        h3 {
            font-size: 1.5rem;
            margin-bottom: .3125rem;
            font-family: 'Arial', sans-serif;
        }

        h4 {
            font-size: 1.2rem;
            margin-bottom: 1.25rem;
            font-family: 'Arial', sans-serif;
            color: #ff007f;
        }

        p {
            font-size: 1rem;
            line-height: 1.6;
            color: white;
            margin-top: 1rem; // Add some margin for spacing
            display: none;

            @include tablet {
                font-size: 1rem;
                line-height: 1.6;
                color: white;
                margin-top: 1rem;
                display: revert-layer;
            }

            @include desktop {
                font-size: 1rem;
                line-height: 1.6;
                color: white;
                margin-top: 1rem;
                display: revert-layer;
            }
        }

        .project-description-mobile {
            display: block;
            text-align: -webkit-auto;

            @include tablet {
                display: none;
            }

            @include desktop {
                display: none;
            }
        }
    }

    .circle {
        position: absolute;
        border-radius: 50%;
        animation: moveClouds 30s linear infinite;
        transition: all 0.5s;
        width: 15.625rem;
        height: 15.625rem;

        &:hover {
            clip-path: url(#cloud-shape);
        }
    }

    .circle-1 {
        top: 5%;
        left: 10%;
        background: rgba(255, 182, 193, 0.8);
    }

    .circle-2 {
        top: 15%;
        left: 70%;
        background: rgba(255, 105, 180, 0.8);
    }

    .circle-3 {
        top: 75%;
        left: 15%;
        background: rgba(219, 112, 147, 0.8);
    }

    .circle-4 {
        top: 25%;
        left: 45%;
        background: rgba(176, 196, 222, 0.8);
    }

    .circle-5 {
        top: 55%;
        left: 5%;
        background: rgba(173, 216, 230, 0.8);
    }

    .circle-6 {
        top: 65%;
        left: 85%;
        background: rgba(135, 206, 250, 0.8);
    }

    .circle-7 {
        top: 35%;
        left: 25%;
        background: rgba(175, 238, 238, 0.8);
    }

    .circle-8 {
        top: 45%;
        left: 60%;
        background: rgba(152, 251, 152, 0.8);
    }

    .circle-9 {
        top: 85%;
        left: 20%;
        background: rgba(211, 255, 206, 0.8);
    }

    .circle-10 {
        top: 15%;
        left: 40%;
        background: rgba(221, 160, 221, 0.8);
    }

    @keyframes moveClouds {
        0% {
            transform: translateX(0) translateY(0);
        }

        50% {
            transform: translateX(3.125rem) translateY(3.125rem);
        }

        100% {
            transform: translateX(0) translateY(0);
        }
    }

    .blurred-background {
        filter: blur(.3125rem);
    }
}

// .carousel * {
//     border-radius: 10%;
// }

.carousel-1 {
    height: fit-content;
    width: fit-content;
}

.about-content h1 {
    width: 100%;
    padding: 0;
}