// _variables.scss

// Color Variables
$instock-black: rgba(19, 24, 44, 1);
$instock-blue: rgba(52, 152, 219, 1);
$instock-white: rgba(255, 255, 255, 1);
$instock-shadow: rgba(0, 0, 0, 0.5);
$instock-orange: rgba(243, 156, 18, 1);
$instock-purple: rgba(142, 68, 173, 1);
$instock-green: rgba(39, 174, 96, 1);