@import '../../styles/partials/mixins';
body {
    background: linear-gradient(135deg, #2c3e50, #3498db);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4.5rem 1rem;
    color: white;
    height: fit-content;


    @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 4.5rem 1rem;
        color: white;
        height: fit-content;
    }

    @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 4.5rem 1rem;
        color: white;
    }


    .mobile-carousel {
        width: 80%;
        max-width: 300px;
        margin-bottom: 1.25rem;

        .carousel .slide img {
            border-radius: 50%;
            width: 100%;
            height: auto;
            max-height: 300px;
            object-fit: cover;
        }

        @include tablet {
            display: none;
        }

        @include desktop {
            display: none;
        }
    }

    .about-content {
        width: 100%;
        padding: 1.25rem;
        @include tablet{
            width: 50%;
        }
        @include desktop{
            width: 50%;
        }

        h1 {
            font-size: 3rem;
            margin-bottom: 1.25rem;
            font-family: 'Arial', sans-serif;
        }

        .about-description {
            font-size: 1.2rem;
            line-height: 1.6;

            p {
                margin-bottom: .9375rem;
            }
        }
    }

    .desktop-carousel {
        display: none;
        width: 40%;
        max-width: 300px;
        justify-content: center;
        align-items: center;

        .carousel .slide img {
            border-radius: 50%;
            width: 100%;
            height: auto;
            max-height: 300px;
            object-fit: cover;
        }

        @include tablet {
            display: flex;
        }

        @include desktop {
            display: flex;
        }
    }
}

.about-techlogos {
    width: 97.1%;
}

.carousel .slider-wrapper.axis-horizontal .slider {
    width: 100%;
}